* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #222;
}

.player {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: #fff;
    padding: 40px;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 30%;
}

.player img {
    height: 100%;
    width: 100%;
}

#bar {
    background-color: #fff;
    width: 100%;
    height: 10px;
}

.comands img{
    padding: 10px;
    width: 25px;
    height: 25px;
}

.comands {
    text-align: center;
}

.title, .artist{
    font-size: 20px;
    text-align: left;
}

#pause {
    display: none;
}

.playlist {
    color: #fff;
    position: absolute;
    border: 1px solid #20ff03;
    top: 10%;
    left: 60%;
    width: 450px;
    padding: 10px;
    background-color: #222;
}

.playlist ul {
    width: 100%;
    padding: 0;
}

.playlist ul li {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    list-style: none;
    background-color: #222;
    cursor: pointer;
}

.playlist li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.playlist li:hover {
    border: 1px solid #20ff03;
}
.playlist h2 {
    text-align: center;
}

.selected {
    border: 1px solid #20ff03;
}

@media (max-width: 1300px) {
    .player {
        left: 10%;
    }
    .playlist {
        left: 50%;
    }
}

@media (max-width: 986px) {
    .playlist {
        margin-bottom: 30px;
        top: 70%;
    }
    .player {
        left: 47%;
        margin: 0 -150px;
    }

    .playlist {
        left: 50%;
        margin: 0 -225px;
    }
}

@media (max-width: 528px) {
    .playlist {
        width: 300px;
    }
    .playlist {
        left: 60%;
    }
    .player {
        left: 40%;
    }
}